<h2>Laps</h2>
<table class="fixed tableFixHead" style="height:100%">
    <thead>
    <tr>
        <th>Lap</th>
        {% for driver in data.drivers %}
        <th class="capitalize">{{ driver.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for entry in data.laps %}
    <tr>
        <th>{{ entry.key }}</th>
        {% for l in entry.value %}
        <td class="right {{ l.implicit ? 'implicit' : '' }}" style="line-height: 1.5em">
            <span>{{ l.accumulatedLapTime.toMillis() | date('mm:ss.SSS') }}{% if l.implicit %}&nbsp;*{% endif %}</span>
            <br>
            <span class="{{ l.minLapTime == l.time ? 'mintime' : '' }} {{ l.maxLapTime == l.time ? 'maxtime' : '' }}">
                {{ l.time.toMillis() | date('mm:ss.SSS') }}{% if l.implicit %}&nbsp;*{% endif %}
            </span>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>