<h2>Race</h2>
<div>{{data.name}} - {{data.date}}</div>

<div id="race_player">
    <div>
        <div>
            <div id="race_clock">00:00</div>
        </div>

        <table id="standing_table" class="border-none">
            <thead>
            </thead>
            <tbody id="table_standing_body">
            </tbody>
        </table>
    </div>
</div>

<button id="start">&#x23F5;</button>
<button id="reset">&#x23F9;</button>
<select id="speedFactor">
    <option value="1">1x</option>
    <option value="2">2x</option>
    <option value="5">5x</option>
    <option value="10" selected>10x</option>
    <option value="20">20x</option>
</select>
