@font-face {
font-family: 'alarm clock';
font-style: normal;
font-weight: normal;
src: local('alarm clock'), url('/alarm clock.woff') format('woff');
}

.dc {
font-family: 'alarm clock';
}

#race_clock {
font-family: 'alarm clock';
font-size: 75px;
color: #A31427;
background: #111;
padding-top: 10px;
padding-bottom: 10px;
width: 414px;
text-align: center;
text-shadow: red 0 0 15px;
}

#standing_table {
width:410px;
}

.section {
padding: 25px;
}

html {
margin: 0;
padding: 0;
}

body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;

/*background: url('/base.jpg');*/
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat, no-repeat;

font-family: roboto, Helvetica, Arial, sans-serif;
min-height: 100vh;
color: #fff;
}

div.content {
background: #222222dd;
font-size: 1.35em;
color: #ddd;
}

button {
border: 1px solid #333;
background: #666;
font-family: teko;
font-size: 1.2em;
color: #fff;
}

#speedFactor {
border: 1px solid #333;
background: #666;
font-family: teko;
font-size: 1.2em;
color: #fff;
}

h2 {
margin-top: 20px;
font-family: Teko
}

th {
background: #A31427;
color: #ddd;
font-family: Teko
}

td, th {
border: 1px solid #333;
padding: 0.3rem;
padding-left: 0.6rem;
padding-right: 0.6rem;
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.blink {
color: #FBE900;
}

.implicit {
color: #888;
}

.maxtime {
background-color: #A31427;
padding:4px;
}

.mintime {
background-color: #007017;
padding:4px;
}

.fixed {
width: 100%;
table-layout: fixed;
}

thead tr {
background: #A31427;
color: #ddd;
}

table {
border-collapse: collapse;
}

tbody tr:nth-child(odd) {
background: #151515cc;
}

tbody tr:nth-child(even) {
background: #1a1a1acc;
}

.capitalize {
text-transform: capitalize;
}

.right {
text-align: right;
}
