@font-face {
font-family: 'alarm clock';
font-style: normal;
font-weight: normal;
src: local('alarm clock'), url('/alarm clock.woff') format('woff');
}

.dc {
font-family: 'alarm clock';
}

#race_player {
    border: 1px solid #000;
    width: 350px;
    background: #111;
}

#race_clock {
font-family: 'alarm clock';
font-size: 55px;
color: #A31427;
background: #111;
padding-top: 6px;
padding-bottom: 6px;
width: 100%;
text-align: center;
text-shadow: #ff0000aa 0 0 10px;
border-bottom: 1px solid #000;
}

#standing_table {
width:100%;
}

.section {
padding: 25px;
}

html {
margin: 0;
padding: 0;
}

body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;

/*background: url('/base.jpg');*/
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat, no-repeat;

font-family: roboto, Helvetica, Arial, sans-serif;
min-height: 100vh;
color: #fff;
}

div.content {
background: #222222dd;
font-size: 1.35em;
color: #ddd;
}

button {
border: 1px solid #333;
background: #666;
font-size: 1.2em;
color: #fff;
width: 50px;
height: 50px;
}

select {
    height: 50px;
}

#speedFactor {
border: 1px solid #333;
background: #666;
font-family: teko;
font-size: 1.2em;
color: #fff;
}

h2 {
margin-top: 20px;
font-family: Teko
}

th {
background: #111;
color: #ddd;
font-family: Teko
border: 1px solid #111;
}

td {
    border: 1px solid #333;
}

td, th {
padding: 0.3rem;
padding-left: 0.4rem;
padding-right: 0.4rem;
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.blink {
color: #FBE900;
}

.implicit {
color: #888;
}

.maxtime {
background-color: #A31427;
padding:4px;
}

.mintime {
background-color: #007017;
padding:4px;
}

.fixed {
width: 100%;
table-layout: fixed;
}

thead tr {
background: #A31427;
color: #ddd;
}

table {
border-collapse: collapse;
}

tbody tr:nth-child(odd) {
background: #151515;
}

tbody tr:nth-child(even) {
background: #1a1a1a;
}

.capitalize {
text-transform: capitalize;
}

.left {
text-align: left;
}

.right {
text-align: right;
}

.border-none {
border-collapse: collapse;
border: none;
}

.border-none td {
border: 1px solid black;
}

.border-none tr:first-child td {
border-top: none;
}

.border-none tr:last-child td {
border-bottom: none;
}

.border-none tr td:first-child {
border-left: none;
}

.border-none tr td:last-child {
border-right: none;
}