#race_clock {
font-size: 4em;
}

.section {
padding: 25px;
}

html {
margin: 0;
padding: 0;
}

body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;

background: url('/base.jpg');
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat, no-repeat;

font-family: "Teko", Helvetica, Arial, sans-serif;
min-height: 100vh;
color: #fff;
}

div.content {
background: #222222dd;
font-size: 1.35em;
color: #ddd;
}

button {
border: 1px solid #333;
background: #666;
font-family: teko;
font-size: 1.2em;
color: #fff;
}

#speedFactor {
border: 1px solid #333;
background: #666;
font-family: teko;
font-size: 1.2em;
color: #fff;
}

h2 {
margin-top: 20px
}

th {
background: #A31427;
color: #ddd;
}

td, th {
border-bottom: 1px solid #222;
padding: 0.3rem;
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.blink {
background-color: #A31427AA;
transition: 1s ease-in;
}

.implicit {
color: #888;
}

.maxtime {
background-color: #A31427;
}

.mintime {
background-color: #007017;
}

table {
width: 100%;
table-layout: fixed;
}

thead tr {
background: #A31427;
color: #ddd;
}

table {
border-collapse: collapse;
}

tbody tr:nth-child(odd) {
background: #151515cc;
}

tbody tr:nth-child(even) {
background: #1a1a1acc;
}
