<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Race overview</title>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;500;600&display=swap" rel="stylesheet">
    <style>
        {% include '_style' %}
    </style>
</head>
<body>
<div class="content">
    <div class="section">
        {% include '_race_replay' %}
    </div>
    <div class="section">
        {% include '_driver_times' %}
    </div>
    <div class="section">
        {% include '_laps' %}
    </div>
</div>
<script>
    let data = {{ json | raw }}
</script>
<script>
    let startBtn = document.getElementById('start');
    let stopBtn = document.getElementById('stop');
    let resetBtn = document.getElementById('reset');
    let stopwatch;
    let running = false;
    let stopTime = null;
    let speedFactor;
    let index = 0;
    let next = null

    startBtn.addEventListener('click', function () {
        speedFactor = parseInt(document.getElementById("speedFactor").value);
        running = true;
        let now = new Date();
        if (stopTime != null) {
            let diff = now.getTime() + stopTime.getTime();
            console.log("diff: " + diff)
            stopwatch = new Date(now.getTime() + diff)
            console.log('stopwatch: ' + stopwatch)
        } else {
            stopwatch = new Date()
        }
        render();
    });

    stopBtn.addEventListener('click', function () {
        running = false;
        stopTime = new Date();
    });

    resetBtn.addEventListener('click', function () {
        stopwatch = null
        stopTime = null;
        index = 0
        next = null;
        document.getElementById('race_clock').innerHTML = "00:00:00";
        document.getElementById('table_standing_body').innerHTML = ''
    });

    function renderStandings(diff) {
        if (next == null || next.timestamp < diff) {
            for (let i = index; i < data.length; i++) {
                if (data[i].timestamp >= diff) {
                    renderStandingTable(next)
                    next = data[i];
                    index = i
                    return;
                }
            }
        }
    }

    function renderStandingTable(data) {
        if (!data) {
            return
        }
        console.log('Render table', data);
        const table = document.getElementById('table_standing_body');
        table.innerHTML = ''
        data.data.forEach((row) => {
            let tr = document.createElement("tr");
            tr.id = 'pos_' + row.pos;

            let values = Object.values(row);
            let reordered = [values[0], values[1], values[2], parseFloat(values[3]).toFixed(3)];
            let current = values['5'] === true;

            // Loop through the values and create table cells
            for (let i = 0; i < reordered.length; i++) {
                let elem = reordered[i];
                let td = i === 0 ? document.createElement("th") : document.createElement("td");
                td.innerText = elem; // Set the value as the text of the table cell
                td.className = 'right ' + (current && i === 1 ? 'blink capitalize' : 'capitalize')
                tr.appendChild(td);
            }
            table.appendChild(tr);
        });
    }

    function render() {
        if (running) {
            if (index >= data.length) {
                running = false;
            }
            let diff = new Date() - stopwatch
            document.getElementById('race_clock').innerHTML = formatTime(diff);
            renderStandings(diff / (1000 / speedFactor));
            setTimeout(render, 50);
        }
    }

    function formatTime(millis) {
        const d = new Date(Date.UTC(0, 0, 0, 0, 0, 0, millis * speedFactor)),
                parts = [
                    d.getUTCHours(),
                    d.getUTCMinutes(),
                    d.getUTCSeconds()
                ]
        return parts.map(s => String(s).padStart(2, '0')).join(':');
    }
</script>
</body>
</html>
