<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Race overview</title>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;500;600&display=swap" rel="stylesheet">
    <style>
        {% include '_style' %}
    </style>
</head>
<body>
<div class="content">
    <div class="section">
        {% include '_race_replay' %}
    </div>
    <div class="section">
        {% include '_driver_times' %}
    </div>
    <div class="section">
        {% include '_laps' %}
    </div>
</div>
<script>
    let data = {{ json | raw }}
</script>
<script>
    let startBtn = document.getElementById('start');
    let resetBtn = document.getElementById('reset');
    let stopwatch;
    let diff = 0
    let running = false;
    let speedFactor;
    let index = 0;

    startBtn.addEventListener('click', function () {
        if (running) {
            running = false;
            diff = new Date() - stopwatch;
            startBtn.textContent = '\u23F5'
        }
        else {
            speedFactor = parseInt(document.getElementById("speedFactor").value);
            running = true;
            stopwatch = new Date(new Date().getTime() - diff)
            render();
            startBtn.textContent = '\u23F8'
        }
    });

    resetBtn.addEventListener('click', function () {
        running = false;
        stopwatch = null
        index = 0
        diff = 0;
        renderStandings(0)
        document.getElementById('race_clock').innerHTML = formatTime(diff, 5);
    });

    function renderStandings(diff) {
        for (let i = index; i < data.length; i++) {
            if (data[i].timestamp >= diff) {
                if (i > index || i === 0) {
                    renderStandingTable(i > 0 ? data[i - 1] : data[0])
                    index = i
                }
                return;
            }
        }
    }

    function renderStandingTable(data) {
        if (!data) {
            return
        }
        //console.log('Render table', data);
        const table = document.getElementById('table_standing_body');
        table.innerHTML = ''
        data.data.forEach((row) => {
            let tr = document.createElement("tr");
            tr.id = 'pos_' + row.pos;

            let pos = document.createElement("td");
            pos.innerText = row.pos;
            pos.className = 'right';
            tr.appendChild(pos)

            let driver = document.createElement("td");
            driver.innerText = shortName(row.driver);
            driver.className = 'left capitalize';
            tr.appendChild(driver)

            let lap = document.createElement("td");
            lap.innerText = String(row.lap).padStart(2, '0');
            lap.className = 'right' + (row.current && row.lap > 0 ? ' blink' : '');
            tr.appendChild(lap)

            let diff = document.createElement("td");
            diff.innerText = row.diff == null ? 'N/A' : formatDiff(row.diff);
            diff.className = 'right';
            tr.appendChild(diff)

            table.appendChild(tr);
        });
    }

    function render() {
        if (running) {
            if (index >= data.length) {
                running = false;
            }
            let diff = new Date() - stopwatch
            document.getElementById('race_clock').innerHTML = formatTime(diff, 5);
            renderStandings(diff / (1000 / speedFactor));
            setTimeout(render, Math.max(50.0 / speedFactor, 10));
        }
    }

    function shortName(name){
        let names = name.split(/\s+/);
        names[0] = names[0].substring(0, 1) + ".";
        return names.join(' ');
    }

    function formatTime(millis, chars) {
        const d = new Date(Date.UTC(0, 0, 0, 0, 0, 0, millis * speedFactor)),
                parts = [
                    d.getUTCHours(),
                    d.getUTCMinutes(),
                    d.getUTCSeconds()
                ]
        let formatted = parts.map(s => String(s).padStart(2, '0')).join(':');
        return formatted.substring(formatted.length - chars);
    }

    function formatDiff(millis) {
        const d = new Date(Date.UTC(0, 0, 0, 0, 0, 0, millis));
        return String((d.getUTCHours() * 60) + d.getUTCMinutes()).padStart(2, '0')
                + ':' + String(d.getUTCSeconds()).padStart(2, '0')
                + '.' + String(Math.floor(d.getUTCMilliseconds() / 10.0)).padStart(2, '0');
    }

    renderStandings(0);
</script>
</body>
</html>
